blinker
click
contourpy
cycler
Flask
fonttools
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pillow
plotly
pyparsing
python-dateutil
scikit-learn
scipy
six
tenacity
threadpoolctl
Werkzeug
flake8
